<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="spisok">
    <p><input type="checkbox" id="Choice3" name="food" value="120">Пирог с яблоком - 120р</p>
    <p><input type="checkbox" id="Choice3" name="food" value="80">Шоколадный кекс - 80р</p>
    <p><input type="checkbox" id="Choice3" name="food" value="180">Чизкейк - 180р</p>
  </div>
  <button class="btn">Выбрать</button>
  <p>Общая стоимость: <span class="res"></span></p>
  <script></script>
</body>
</html>